<div class="chatArea-head">
  <div class="chatArea-head__data">
    <div class="chatArea-head__avatar"></div>
    <div class="chatArea-head__name">
      {{name}}
    </div>
  </div>
  <div class="chatArea-head__actions">
    <div></div>
    <div>
      <span class="chatArea-head__actions-act1"> Изменить параметры чата </span>
      <span class="chatArea-head__actions-act2"> Добавить пользователя в чат </span>
      <span class="chatArea-head__actions-act3"> Удалить пользователя из чата </span>
      <span class="chatArea-head__actions-act4"> Очистить чат </span>
    </div>
  </div>
</div>